:root {
  --green-color: #00ff00;
}

/* 
  We collapse the borders of each cell. 
  By default each cell has its own borders 
  which are not connected.
*/
table {
  border-collapse: collapse;
  width: 480px;
}

/* 
  Add a border and padding to the cells, 
  the distance from the content to the border.
*/
table th,
table td {
  padding: 10px;
  border: 1px solid darkblue;
}

label {
  display: flex;
  flex-direction: column;
}

/* Messing with Class Selector */
.text {
  color: tomato;
  font-size: 18px;
  background-color: lightblue;
}

/* Messing with :hover pseudo-class */
a {
  color: darkblue;
}
a:hover {
  color: lightgreen;
}

/* Messing with combining hover and 
focus pseudo-classes */
.link-one {
  color: purple;
}
.link-one:hover {
  color: orange;
}
.link-one:focus {
  color: red;
}
.link-two {
  color: orangered;
}
.link-two:active {
  color: silver;
}
.link-two:visited {
  color: purple;
}

.link-three {
  color: var(--green-color);
}
/* Messing with overriding properties */
.links {
  font-size: 18px;
  font-weight: 600;
  color: red;
}
.links.one {
  color: purple;
  text-shadow: 3px 3px 20px #ff99cc, -2px 1px 30px #ff99cc;
}
.links.two {
  color: brown;
  text-shadow: 1px 3px 4px lightgoldenrodyellow;
}
/* Messing around with different fonts*/
.fontchange {
  font-family: "DM Sans";
  font-size: 12px;
  font-weight: 400;
}
.header {
  font-family: Georgia;
  font-size: 24px;
  font-weight: 500;
  font-style: italic;
}

/* Messing with first-child pseudo class*/
.item {
  color: blue;
}

.item:nth-child(2n) {
  color: purple;
}
.item:nth-child(2n-1) {
  color: brown;
}
.item:first-child {
  color: red;
}
.item:last-child {
  color: green;
}
li:not(:last-child) {
  background-color: lightblue;
}
/* Inline-block element practice */
.submit-btn {
  padding: 10px 20px;
  background-color: yellow;
  color: blue;
  font-size: 24px;
}

.main-box {
  background-color: indianred;
  width: 100px;
  height: 100px;
}

.first-box {
  background-color: darkmagenta;
  width: 30px;
  height: 40px;
  margin-left: 20px;
}

.second-box {
  background-color: thistle;
  width: 30px;
  height: 15px;
  margin-left: 30px;
}

.third-box {
  background-color: olivedrab;
  width: 50px;
  height: 45px;
  margin-left: auto;
  margin-right: auto;
}
a {
  border-left: 1px solid firebrick;
  border-right: 3px dashed seagreen;
  padding-left: 10px;
  padding-right: 5px;
  margin-left: 5px;
  margin-right: 15px;
}

ul {
  list-style: none;
}
.list {
  display: flex;
}

.list li {
  border: 1px solid green;
}

